@model GameManager.Models.ViewModels.AcrossYearsGameData
@{
    ViewBag.Title = "AcrossYearsAnalysis";
}

@if (ViewBag.Option == null)
{

    <div class="row">
        <div class="col-md-6 col-md-offset-3 whiteCard text-center" style="padding: 10px; margin-top:10px">
            <h2>Across Years Report</h2>
            <hr class="greenLine" />

            <p>Select a type.</p>
            <form action="AcrossYearsAnalysis" method="get">
                <div class="form-group">
                    <div class="btn-group btn-group-toggle " data-toggle="buttons">
                        <label class="btn btn-primary active ">
                            <input type="radio" name="option" id="option1" value="Buy" autocomplete="off" checked> Bought
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="option" id="option2" value="Play" autocomplete="off"> Played
                        </label>
                    </div>
                </div>
                @if (ViewBag.ErrorMessage != null)
                {
                    <p style="color:red">@ViewBag.ErrorMessage</p>
                }
                <div class="form-group">

                    <div class=" col-md-12">

                        <input type="submit" value="Enter" class="btn customButton" />
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Note: Make sure you have games in your games list before getting a report. Go to games list @Html.ActionLink("here", "Index", "Games") to add games.</p>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h2 class="whiteText text-center">Across Years Report (@ViewBag.Option)</h2>
    <hr class="whiteLine" />
    <div class="row text-center">
        @for (int i = 0; i < Model.Years.Count(); i++)
        {
            <div class="col-md-12">
                <div class="col-md-2">
                    <br />
                    <h1 class="whiteText">@Model.Years[i]</h1>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="whiteCard">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Total Games</h4>
                                        <h2>@Model.YearlyTotalGames[i]</h2>
                                    </div>
                                    @if (ViewBag.Option == "Buy")
                                    {
                                        <div class="col-md-3">
                                            <h4>Total Spent</h4>
                                            <h2>@Model.YearlyTotalSpent[i]</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>Average Spend/Game</h4>
                                            <h2>@Model.YearlyAverageSpent[i]</h2>
                                        </div>
                                    }
                                    else if (ViewBag.Option == "Play")
                                    {
                                        <div class="col-md-3">
                                            <h4>Total Borrowed</h4>
                                            <h2>@Model.YearlyTotalBorrowed[i]</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>Total Replayed</h4>
                                            <h2>@Model.YearlyTotalReplayed[i]</h2>
                                        </div>
                                    }
                                    <div class="col-md-3">
                                        <h4>Physical-Digital</h4>
                                        <h2>@Model.YearlyTotalPhysical[i]-@Model.YearlyTotalDigital[i]</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @for (int k = 0; k < Model.YearlySystemNames[i].Count; k++)
                        {
                            <div class="col-md-2">
                                <div class="whiteCard text-center" style="padding:1px">
                                    <h4>@Model.YearlySystemNames[i][k]</h4>
                                    <h2>@Model.YearlySystemCounts[i][k]</h2>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}