@model IEnumerable<GameManager.Models.Game>

@{

    ViewBag.Title = "MoneyAnalysis";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

<h2 style="text-align:center">Money Analysis of @ViewBag.Year</h2>

@if (ViewBag.Year == null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label class="control-label col-md-2" for="SelectYear">Select Year</label>
            @Html.DropDownList("SelectYear", null, htmlAttributes: new { @class = "form-control" })
            <span class="field-validation-valid text-danger" data-valmsg-for="SelectYear" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enter" class="btn btn-default" />
            </div>
        </div>

    }
}
else
{
        <div class="row">

            <!--Monthly Cost chart.-->
            <div class="col-md-8">
                <!--Setup monthly cost related variable(costData) for chart setup in other js file.-->
                <script style="text/javascript">
                var costData = new Array();
                var array = @Html.Raw(Json.Encode(@ViewBag.MonthlyCost));
                for(var i =0; i<array.length;i++){
                    costData[i] = array[i];
                }
                </script>

                <!--Canvas used to display the chart.-->
                <canvas id="myChart" width="700" height="250" style="border: 1px solid black;"></canvas>
            </div>

            <!--Total spent in year and total games played.-->
            <div class="col-md-4">
                <div class="" style="text-align:center;">
                    <h3>Total Spent in @ViewBag.Year:</h3>
                    <h1>@ViewBag.TotalSpent$</h1>
                </div>
                <div class="" style="text-align:center;">
                    <h3>Total Games Played in @ViewBag.Year:</h3>
                    <h1>@ViewBag.TotalGames</h1>
                </div>
            </div>

            <!--Monthly spent numbers.-->
            <div class="col-md-6">
                <h3 style="text-align:center">Monthly Spending($)</h3>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        @for (int i = 0; i < 6; i++)
                        {
                            <dt>@ViewBag.Months[i]</dt>
                            <dd>@ViewBag.MonthlyCost[i]</dd>
                        }
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        @for (int i = 6; i < 12; i++)
                        {
                            <dt>@ViewBag.Months[i]</dt>
                            <dd>@ViewBag.MonthlyCost[i]</dd>
                        }
                    </dl>
                </div>
            </div>

            <!--Monthly count.-->
            <div class="col-md-6">
                <h3 style="text-align:center">Monthly Game Count</h3>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        @for (int i = 0; i < 6; i++)
                        {
                            <dt>@ViewBag.Months[i]</dt>
                            <dd>@ViewBag.MonthlyCount[i]</dd>
                        }
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        @for (int i = 6; i < 12; i++)
                        {
                            <dt>@ViewBag.Months[i]</dt>
                            <dd>@ViewBag.MonthlyCount[i]</dd>
                        }
                    </dl>
                </div>
            </div>

            <!--Display game details.-->
            <div class="col-md-12">
                <h3 style="text-align:center">Games Purchased</h3>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            System Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            Date Purchased
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Physical)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SystemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfPurchase)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Physical)
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
}
<script src="@Url.Content("~/Scripts/GraphSetup.js")" type="text/javascript"></script>