@model GameManager.Models.ViewModels.BuyData

@{

    ViewBag.Title = "BuyReport";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

@if (ViewBag.Year == null)
{

    <div class="row">
        <div class="col-md-6 col-md-offset-3 whiteCard text-center" style="padding: 10px; margin-top:10px">
            <h2>Buy Report</h2>
            <hr class="greenLine" />
            <p>Select a year to analyze.</p>
            @if (ViewBag.SelectYear != null)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label col-md-3 col-md-offset-1" for="SelectYear">Select Year</label>
                        <div class="col-md-6">
                            @Html.DropDownList("SelectYear", null, htmlAttributes: new { @class = "form-control" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="SelectYear" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class=" col-md-12">
                            <br />
                            <input type="submit" value="Enter" class="btn customButton" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <p>Note: Years options are based on what is in your games list. You can go to games list @Html.ActionLink("here", "Index", "Games") to add games.</p>
                    </div>
                }
            }
            else
            {
                <h4>No Years</h4>
                <p>If you don't have any purchased games in your games List then you won't see any years to select. Go to games list @Html.ActionLink("here", "Index", "Games") to add games.</p>
            }
        </div>
    </div>
}
else
{
    <h2 class="whiteText" style="text-align:center">@ViewBag.Year Buy Report</h2>
    <hr class="whiteLine" style="margin-bottom:10px" />
    <div class="row">
        <!--Data items.-->
        <div class="col-md-12">
            <div class="whiteCard text-center">
                <div class="row">
                    <div class="col-md-3">
                        <h3 style="margin-bottom:0px; padding-bottom:0px">Total Spent</h3>
                        <h1 style="margin-top:0px; padding-top:0px">$@Model.TotalSpent</h1>
                    </div>
                    <div class="col-md-3">
                        <h3 style="margin-bottom:0px; padding-bottom:0px">Total Games Bought</h3>
                        <h1 style="margin-top:0px; padding-top:0px">@Model.TotalGames</h1>
                    </div>
                    <div class="col-md-3">
                        <h3 style="margin-bottom:0px; padding-bottom:0px">Average Spent/Game</h3>
                        <h1 style="margin-top:0px; padding-top:0px">$@Model.AverageSpend</h1>
                    </div>
                    <div class="col-md-3">
                        <h3 style="margin-bottom:0px; padding-bottom:0px">Physical/Digital</h3>
                        <h1 style="margin-top:0px; padding-top:0px">@Model.TotalPhysical - @Model.TotalDigital</h1>
                    </div>
                </div>
            </div>
        </div>

        <!--Monthly Cost chart.-->
        <div class="col-md-8">
            <div class="whiteCard">
                <!--Canvas used to display the chart.-->
                <canvas id="costBarGraph" width="700" height="275" style="padding:10px"></canvas>
            </div>
            <div class="col-md-8">
                <div class="whiteCard">
                    <!--Canvas used to display the chart.-->
                    <canvas id="consolePie" height="350" style="width:100%;max-width:600px;padding-bottom:15px"></canvas>
                </div>
            </div>

            <!--Price Range Table.-->
            <div class="col-md-4">
                <div class="whiteCard" style="padding:5px; font-size:16px; line-height:14px">
                    <h3 class="text-center">Price Range Analysis</h3>
                    <hr class="greenLine" />
                    <br />
                    <div class="col-md-6">
                        @for (int i = 0; i < 10; i++)
                        {
                            <p class="text-right"><b>@Model.PriceLabels[i]</b></p>
                        }
                    </div>
                    <div class="col-md-6">
                        @for (int i = 0; i < 10; i++)
                        {
                            <p class="text-left">@Model.TotalByPriceRange[i]</p>
                        }
                    </div>
                    <p style="color:#f7f7f7; margin:0px; padding:0px">a</p>
                </div>
            </div>
        </div>

        <!--Monthly data.-->
        <div class="col-md-4">
            <div class="panel panel-default whiteCard">
                <div class="panel-heading text-center" style="line-height:.8">
                    <h3 style="margin:0px;">Physical/Digital by Month</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Total</th>
                                <th>Physical</th>
                                <th>Digital</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Months.Length; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.Months[i]
                                    </td>
                                    <td>
                                        @Model.MonthlyTotalGames[i]
                                    </td>
                                    <td>
                                        @Model.MonthlyTotalPhysical[i]
                                    </td>
                                    <td>
                                        @Model.MonthlyTotalDigital[i]
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Display game details.-->
        <!--Game list display.-->
        <div class="col-md-12">
            <div class="panel panel-default whiteCard" style="margin-top:10px;">
                <div class="panel-heading text-center" style="line-height:.8;">
                    <h3 style="margin:0px;">Games List</h3>
                </div>

                <div class="panel-body">

                    <div class="text-center" id="searchType" style="margin: 0 auto">
                        <form name="type_Form" id="type_Form" action="">
                            <input data-val="true" id="Year" name="Year" type="hidden" value=@ViewBag.Year />
                            <input data-val="true" id="BuyCheck" name="BuyCheck" type="hidden" value="true" />
                            <h4>Select Filter Type</h4>
                            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                                <label class="btn btn-primary active notConsoleButton">
                                    <input type="radio" name="Type" id="option0" value="All" autocomplete="off" checked> All
                                </label>
                                <label class="btn btn-primary notConsoleButton">
                                    <input type="radio" name="Type" id="option3" value="Physical" autocomplete="off"> Physical Copy
                                </label>
                                <label class="btn btn-primary notConsoleButton">
                                    <input type="radio" name="Type" id="option4" value="Digital" autocomplete="off"> Digital Copy
                                </label>
                                <label class="btn btn-primary" id="consoleButton">
                                    <input type="radio" name="Type" id="option5" value="Console" autocomplete="off"> Console
                                </label>
                            </div>
                            <div id="consoleSection" hidden>
                                <h4>Select Console</h4>
                                <label class="control-label" for="SelectSystemName" hidden>Select System</label>
                                @Html.DropDownList("SelectSystemName", null, htmlAttributes: new { @class = "form-control btn btn-primary", @style = "width: 100px; display:inline-block" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="SelectSystemName" data-valmsg-replace="true"></span>
                            </div>
                            <br /><br />
                            <input type="submit" value="Enter" class="btn customButton" />
                        </form>
                    </div>

                    <!-- Type table setup. -->
                    <div id="typeTable" hidden>
                        <h3 id="tableTitle" style="text-align:center; color:#45c687"></h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price($)</th>
                                    <th>Date Bought</th>
                                    <th>Console</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="displayType"></tbody>
                        </table>

                        <!--Button to reset type search. -->
                        <input id="resetSearch" class="btn customButton" type="button" value="New  Type Search" onclick="ShowInput();" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/GraphSetup.js")" type="text/javascript"></script>
    <script>
        //Setup monthly cost(costData) for chart.
        var costData = @Html.Raw(Json.Encode(Model.MonthlyTotalSpent));

        //Setup system name and data for chart.
        var systemData = @Html.Raw(Json.Encode(Model.SystemCounts));
        var systemNames = @Html.Raw(Json.Encode(Model.SystemNames));

        BarGraphSetup("costBarGraph", "Money Spent by Month($)", ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], costData);
        PieGraphSetup("consolePie", "Games Bought by Console", systemNames, systemData);
    </script>
}

@section PageScripts{
    <script type="text/javascript" src="~/Scripts/GamesType.js"></script>
}
