
@{
    /**/

    /**/

    ViewBag.Title = "TypeAnalysis";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>



@if (ViewBag.Year == null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6 col-md-offset-3 whiteCard text-center" style="padding: 10px; margin-top:10px">
                <h2>Type Analysis</h2>
                <hr class="greenLine" />
                <p>Select a year to analyze.</p>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" for="SelectYear">Select Year</label>
                    <div class="col-md-6">
                        @Html.DropDownList("SelectYear", null, htmlAttributes: new { @class = "form-control" })
                        <span class="field-validation-valid text-danger" data-valmsg-for="SelectYear" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <br />
                        <input type="submit" value="Enter" class="btn customButton" />
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Note: If you don't have any played games in your games List then you won't see any years to select. Go to games list @Html.ActionLink("here.", "Index", "Games")</p>
                </div>
            </div>
        </div>
    }
}
else
{
    <h2 class="whiteText text-center">@ViewBag.Year Type Analysis</h2>
    <hr class="whiteLine" style="margin-bottom:10px" />
    <div class="row">

        <!--Game Console pie chart.-->
        <div class="col-md-6">
            <!--Setup system name and data for chart.-->
            <script>
                var systemData = new Array();
                var systemNames = new Array();
                var array = @Html.Raw(Json.Encode(@ViewBag.SystemCounts));
                var array2 = @Html.Raw(Json.Encode(@ViewBag.SystemNames));
                for(var i =0; i<array.length;i++){
                    systemData[i] = array[i];
                    systemNames[i] = array2[i];
                }

            </script>

            <div class="whiteCard">
                <!--Canvas used to display the chart.-->
                <canvas id="myChart" height="350" style="width:100%;max-width:600px;padding-bottom:15px; margin-top:5px"></canvas>
            </div>

        </div>

        <!--Data display-->
        <div class="col-md-6">
            <div class="col-md-12">

                <div class="text-center whiteCard" style="padding:1px; margin:5px">
                    <h3>Total Games Played</h3>
                    <h1>@ViewBag.Count</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center whiteCard" style="padding:1px; margin:5px">
                    <h3>Total Borrowed</h3>
                    <h1>@ViewBag.Borrowed</h1>
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-center whiteCard" style="padding:1px; margin:5px">
                    <h3>Total Replayed</h3>
                    <h1>@ViewBag.Replayed</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center whiteCard" style="padding:1px; margin:5px">
                    <h3>Physical Copy</h3>
                    <h1>@ViewBag.Physical</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center whiteCard" style="padding:1px; margin:5px">
                    <h3>Digital Copy</h3>
                    <h1>@ViewBag.Digital</h1>
                </div>
            </div>
        </div>

        <!--Game list display.-->
        <div class="col-md-12">
            <div class="panel panel-default whiteCard" style="margin-top:10px;">
                <div class="panel-heading" style="text-align:center;line-height:.8">
                    <h3 style="margin:0px;">Games List</h3>
                </div>

                <div class="panel-body">

                    <!--Input type search.-->
                    <div class="col-md-4 col-lg-offset-4" id="searchType">
                        <form name="type_Form" id="type_Form" action="">
                            <h4>Search the games of a specific type:</h4>
                            <div class="form-group">
                                <input data-val="true" id="Year" name="Year" type="hidden" value=@ViewBag.Year />

                                <input type="radio" id="type1" name="Type" value="1" checked="checked">
                                <label for="type1">Borrowed</label><br>

                                <input type="radio" id="type2" name="Type" value="2">
                                <label for="type2">Replayed</label><br>

                                <input type="radio" id="type3" name="Type" value="3">
                                <label for="type3">Physical</label><br />

                                <input type="radio" id="type4" name="Type" value="4">
                                <label for="type4">Digital</label><br />

                                <input type="radio" id="type5" name="Type" value="5">

                                <label for="type5">Game System</label>


                                <label class="control-label" for="SelectSystemName" hidden>Select System</label>
                                @Html.DropDownList("SelectSystemName", null, htmlAttributes: new { @class = "form-control", @style = "width: 100px; display:inline-block" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="SelectSystemName" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Enter" class="btn customButton" />
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Type table setup. -->
                    <div class="" id="typeTable" hidden>
                        <h3 id="tableTitle" style="text-align:center"></h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date Played</th>
                                    <th>Console</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="displayType"></tbody>
                        </table>

                        <!--Button to reset type search. -->
                        <input id="resetSearch" class="btn customButton" type="button" value="New  Type Search" onclick="ShowInput();" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/GraphSetup.js")" type="text/javascript"></script>
    <script>
        PieGraphSetup("Game Console Count", systemNames, systemData);
    </script>
}



@section PageScripts{
    <script type="text/javascript" src="~/Scripts/GamesType.js"></script>
}

